@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400&family=Inter:wght@100;200;400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Inter', sans-serif;
  color: #0E0F3B;
}

.custom-scrollbar::-webkit-scrollbar,
.custom-scrollbar scrollbar {
  width: 10px;
}


.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar scrollbar-thumb {
  background-color: #C1C1C1; 
  border-radius: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-track,
.custom-scrollbar scrollbar-track {
  background-color: #fafafa; 
}

.custom-scrollbar {
  scrollbar-color: #C1C1C1 #fafafa;
}
